<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brightcns.liangla">

    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.welcomeActivity.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.guideActivity.SplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.homeActivity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.LoginActivity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.RegisterActivity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.LoginActivity.ResetPwdActivity"
            android:label="@string/title_activity_reset_pwd"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.LoginActivity.ResetActivity"
            android:label="@string/title_activity_reset"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MessageActivity.MyMessageActivity"
            android:label="@string/title_activity_my_message"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.UserGuidActivity.UserGuidActivity"
            android:label="@string/title_activity_user_guid"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MessageActivity.MessageDetailsActivity"
            android:label="@string/title_activity_message_details"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activity.ScanCardActivity.ScanCardActivity" />
        <activity android:name=".Activity.ScanCardActivity.CardMessageActivity" />
        <activity android:name=".Activity.ScanCardActivity.CardHistoryActivity"></activity>
    </application>

</manifest>